<h1>Help</h1>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<object width="90%" height="325px">
		<param name="movie"
			value="https://www.youtube.com/v/fNTHizq1Kjk?version=3&autohide=1&showinfo=0"></param>
		<param name="allowScriptAccess" value="always"></param>
		<embed src="https://www.youtube.com/v/fNTHizq1Kjk?version=3&autohide=1&showinfo=0"
			type="application/x-shockwave-flash"
			allowscriptaccess="always"
			width="90%" height="325px"></embed>
	</object>

</html>
